
div {
    margin: 20px;
}

ul {
    list-style-type: none;
    width: 500px;
}

li {
    padding: 10px;
    overflow: auto;
}

li:hover {
    background: #eee;
    cursor: pointer;
}


li button.right {
    float: right;
    margin: 10px;
}


li button.left {
    float: left;
    margin: 10px;
    height: 20px;
    width: 20px;
}

.centralText {
    margin-right: 50px;
    margin-left: 15px;
}